In [1]:
from pymongo import MongoClient
import pandas as pd
import pymongo
from pandas.io.json import json_normalize
import re
import numpy as np
import requests

In [2]:
# #Connecting the database with the queried data (data_companies_clean)
# client = MongoClient('mongodb://localhost:27017/')
# db = client.companies
# data = db.data_companies_clean

In [3]:
#Connecting the database with the queried data (data_companies_clean)
client = MongoClient('mongodb://localhost:27017/')
db = client.DBcompanies_cb
data = db.companies_cb

In [4]:
#Query to receive all the essential data for my analysis. 
one_office = db.companies_cb.find({'$and':[
    {'offices':{'$exists':True}},
    {'offices':{'$ne': None}},
#     {'number_of_employees':{'$exists':True}}
    {'number_of_employees':{'$gte': 10}}
]})

In [5]:
#Create first dataframe and show the columns we have
one_office = pd.DataFrame(one_office)
one_office.columns

Index(['_id', 'acquisition', 'acquisitions', 'alias_list', 'blog_feed_url',
       'blog_url', 'category_code', 'competitions', 'created_at',
       'crunchbase_url', 'deadpooled_day', 'deadpooled_month',
       'deadpooled_url', 'deadpooled_year', 'description', 'email_address',
       'external_links', 'founded_day', 'founded_month', 'founded_year',
       'funding_rounds', 'homepage_url', 'image', 'investments', 'ipo',
       'milestones', 'name', 'number_of_employees', 'offices', 'overview',
       'partners', 'permalink', 'phone_number', 'products', 'providerships',
       'relationships', 'screenshots', 'tag_list', 'total_money_raised',
       'twitter_username', 'updated_at', 'video_embeds'],
      dtype='object')

In [6]:
#Merge deadpool related columns into 1 and fill blanks with NaN values.
one_office['deadpooled'] = one_office[one_office.columns[10:13]].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1).replace(r'^\s*$', np.nan, regex=True)

In [7]:
#Select relevant columns for the project
data = pd.DataFrame(one_office[['name', 'category_code', 'founded_year', 'number_of_employees', 'offices','total_money_raised', 'deadpooled']])

In [8]:
#Select alive companies. If they have 'deadpoled' data I understand they are dead. 
data = data[pd.isnull(data['deadpooled'])]

In [9]:
def columns_drop(df, col):
    return df[[x for x in df.columns if x != col]]

In [10]:
#Dropping columns we no longer need.
data = columns_drop(data, 'deadpooled')
data = columns_drop(data, 'founded_year')
data.head()

,name,category_code,number_of_employees,offices,total_money_raised
0,Wetpaint,web,47,"[{'description': '', 'address1': '710 - 2nd Av...",$39.8M
1,AdventNet,enterprise,600,"[{'description': 'Headquarters', 'address1': '...",$0
2,Zoho,software,1600,"[{'description': 'Headquarters', 'address1': '...",$0
3,Digg,news,60,"[{'description': None, 'address1': '135 Missis...",$45M
4,Facebook,social,5299,"[{'description': 'Headquarters', 'address1': '...",$2.43B

In [11]:
#Finding out the different types of currencies we can find along the dataset.
currencies_types=[]
for i in data['total_money_raised']:
    if i[0:2] not in currencies_types:
        currencies_types.append(i[0:2])

print(currencies_types)

['$3', '$0', '$4', '$2', '$1', '$6', '$5', '$7', '$8', '$9', '€1', '€3', 'C$', '€4', '£2', '€8', '€5', '€9', '€2', '£3', '£1', '£4', '€6', '€7', '£7', '¥2', 'kr', '¥4', '¥1', '£5', '£6', '£9']

In [12]:
#Converting symbols into string values for future uses
currency_type = {'C$': 'CAD',
                '$':'USD',
                '€': 'EUR',
                '£': 'GBP',
                '¥': 'JPY',
                'kr': 'SEK'}

def currency_converter(df):
    for symb, name in currency_type.items():
        if symb in df:
            a = df.replace(symb,'')
            return name

data['currency'] = data['total_money_raised'].apply(currency_converter)

In [13]:
#Deleting currency symbols
def symbol_deleter(df):
    for symb, name in currency_type.items():
        if symb in df:
            return df.replace(symb, "")

data['total_money_raised'] = data['total_money_raised'].apply(symbol_deleter)

In [14]:
#Converting "total_money_raised" into integers
amount_type = dict(k='E3', M='E6', B='E9')
data['amount_raised'] = pd.to_numeric(data['total_money_raised'].replace(amount_type, regex=True))

In [15]:
data.head()

,name,category_code,number_of_employees,offices,total_money_raised,currency,amount_raised
0,Wetpaint,web,47,"[{'description': '', 'address1': '710 - 2nd Av...",39.8M,USD,3.980000e+07
1,AdventNet,enterprise,600,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00
2,Zoho,software,1600,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00
3,Digg,news,60,"[{'description': None, 'address1': '135 Missis...",45M,USD,4.500000e+07
4,Facebook,social,5299,"[{'description': 'Headquarters', 'address1': '...",2.43B,USD,2.430000e+09

In [18]:
#Create a dictionary with the needed exchange rates using an API to obtain real data.
url = 'https://api.exchangerate-api.com/v4/latest/USD'

# Making our request
response = requests.get(url)
api_data = response.json()

api_dataframe = pd.DataFrame(json_normalize(api_data))
api_dict = {'CAD':api_dataframe['rates.CAD'][0],
            'EUR':api_dataframe['rates.EUR'][0],
            'GBP':api_dataframe['rates.GBP'][0],
            'JPY':api_dataframe['rates.JPY'][0],
            'SEK':api_dataframe['rates.SEK'][0],
            'USD':1
    }

In [19]:
api_dict

{'CAD': 1.33187,
 'EUR': 0.901877,
 'GBP': 0.82492,
 'JPY': 106.391396,
 'SEK': 9.695835,
 'USD': 1}

In [21]:
data2 = data.copy()

In [22]:
def money_normalizator(df):
    for symb, value in api_dict.items():
        if symb in data['currency']:
            return value*df

data2['normalized'] = data2['amount_raised'].apply(money_normalizator)

In [23]:
data2

,name,category_code,number_of_employees,offices,total_money_raised,currency,amount_raised,normalized
0,Wetpaint,web,47,"[{'description': '', 'address1': '710 - 2nd Av...",39.8M,USD,3.980000e+07,None
1,AdventNet,enterprise,600,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00,None
2,Zoho,software,1600,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00,None
3,Digg,news,60,"[{'description': None, 'address1': '135 Missis...",45M,USD,4.500000e+07,None
4,Facebook,social,5299,"[{'description': 'Headquarters', 'address1': '...",2.43B,USD,2.430000e+09,None
5,Geni,web,18,"[{'description': 'Headquarters', 'address1': '...",16.5M,USD,1.650000e+07,None
6,Twitter,social,1300,"[{'description': '', 'address1': '1355 Market ...",1.16B,USD,1.160000e+09,None
7,Scribd,news,50,"[{'description': 'HQ', 'address1': '539 Bryant...",25.8M,USD,2.580000e+07,None
8,eBay,web,15000,"[{'description': 'Headquarters', 'address1': '...",6.7M,USD,6.700000e+06,None
9,MeetMoi,social,15,"[{'description': None, 'address1': '', 'addres...",5.58M,USD,5.580000e+06,None
10,Plaxo,web,50,"[{'description': 'HQ', 'address1': '1050 Enter...",28.3M,USD,2.830000e+07,None
11,Cisco,network_hosting,63000,"[{'description': 'Headquarters', 'address1': '...",2.5M,USD,2.500000e+06,None
12,Yahoo!,web,13600,"[{'description': None, 'address1': '701 First ...",6.8M,USD,6.800000e+06,None
13,Powerset,search,60,"[{'description': None, 'address1': '475 Branna...",22.5M,USD,2.250000e+07,None
14,Technorati,advertising,35,"[{'description': '', 'address1': '360 Post St....",32.1M,USD,3.210000e+07,None
15,AddThis,advertising,120,"[{'description': 'HQ - Virginia', 'address1': ...",73M,USD,7.300000e+07,None
16,OpenX,advertising,305,"[{'description': 'Headquarters', 'address1': '...",75.5M,USD,7.550000e+07,None
17,Mahalo,web,40,"[{'description': '', 'address1': '3525 Eastham...",21M,USD,2.100000e+07,None
18,Kyte,games_video,40,"[{'description': None, 'address1': '442 Post S...",23.4M,USD,2.340000e+07,None
19,Jingle Networks,mobile,35,"[{'description': '', 'address1': '475 Park Ave...",88.7M,USD,8.870000e+07,None
20,Meetup,web,75,"[{'description': None, 'address1': '632 Broadw...",18.3M,USD,1.830000e+07,None
21,LifeLock,security,644,"[{'description': '', 'address1': '60 E. Rio Sa...",178M,USD,1.780000e+08,None
23,SmugMug,photo_video,62,"[{'description': '', 'address1': '67 E. Evelyn...",0,USD,0.000000e+00,None
24,Google,search,28000,"[{'description': 'Google Headquarters', 'addre...",555M,USD,5.550000e+08,None
25,Jajah,mobile,110,"[{'description': 'Jajah HQ', 'address1': '2513...",33M,USD,3.300000e+07,None
27,Livestream,games_video,120,"[{'description': 'Livestream HQ', 'address1': ...",14.7M,USD,1.470000e+07,None
28,Ustream,games_video,250,"[{'description': 'San Francisco Office', 'addr...",60.1M,USD,6.010000e+07,None
29,AdaptiveBlue,games_video,15,"[{'description': '', 'address1': '131 Varick S...",24M,USD,2.400000e+07,None
30,Pando Networks,games_video,23,"[{'description': None, 'address1': '520 Broadw...",11M,USD,1.100000e+07,None
31,Intel,hardware,86300,"[{'description': 'Robert Noyce Building', 'add...",0,USD,0.000000e+00,None
...,...,...,...,...,...,...,...,...
4524,SheKnows,news,200,"[{'description': 'Company Headquarters', 'addr...",0,USD,0.000000e+00,None
4525,RFP Express,enterprise,25,"[{'description': 'HQ', 'address1': '104 Decker...",0,USD,0.000000e+00,None
4526,Arkeia Software,software,50,"[{'description': 'Corporate Headquarters', 'ad...",4.08M,USD,4.080000e+06,None
4527,United On-Line,advertising,20,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00,None
4528,SERG,security,20,"[{'description': 'Home', 'address1': '1-A, E/5...",0,USD,0.000000e+00,None
4529,Vertro,software,50,"[{'description': '', 'address1': '143 Varick S...",250k,USD,2.500000e+05,None
4530,ALOT,software,50,"[{'description': '', 'address1': '143 Varick S...",0,USD,0.000000e+00,None
4531,Track and Locate,security,10,"[{'description': 'Track and Locate', 'address1...",0,USD,0.000000e+00,None
4532,Conversition,web,10,"[{'description': 'HQ', 'address1': '', 'addres...",0,USD,0.000000e+00,None
4533,phinditt,advertising,10,"[{'description': 'suite', 'address1': '', 'add...",0,USD,0.000000e+00,None
4534,Jelli,enterprise,12,"[{'description': 'Jelli, Inc.', 'address1': '4...",16.6M,USD,1.660000e+07,None
4535,Savvion,software,160,"[{'description': 'Corporate Headquarters', 'ad...",0,USD,0.000000e+00,None
4536,PubliAtis,software,10,"[{'description': 'World Headquarters', 'addres...",1M,EUR,1.000000e+06,None
4537,Inventa Technologies,software,207,"[{'description': '', 'address1': '2040 Briggs ...",0,USD,0.000000e+00,None
4538,Gastrogate,web,12,"[{'description': 'HQ', 'address1': 'HylsvÃ¤gen...",0,USD,0.000000e+00,None
4539,Tiny Speck,games_video,45,"[{'description': '', 'address1': '163 Hastings...",17.2M,USD,1.720000e+07,None
4540,CScout Japan,public_relations,10,"[{'description': 'CScout Japan Co., Ltd.', 'ad...",0,USD,0.000000e+00,None
4541,VSE Corp,other,1920,"[{'description': '', 'address1': '2550 Hunting...",0,USD,0.000000e+00,None
4542,RF Micro Devices,semiconductor,4095,"[{'description': '', 'address1': '7628 Thorndi...",0,USD,0.000000e+00,None
4543,AwardSpace,network_hosting,35,"[{'description': 'World Headquarter', 'address...",0,USD,0.000000e+00,None
4544,Nokaut,ecommerce,60,"[{'description': 'Grupa Nokaut HQ', 'address1'...",0,USD,0.000000e+00,None
4545,UOL (Universo Online),network_hosting,500,[],0,USD,0.000000e+00,None
4546,Atlantic BT,web,30,"[{'description': 'Main Office', 'address1': '8...",0,USD,0.000000e+00,None
4547,Treehouse,education,55,"[{'description': '', 'address1': '', 'address2...",19.4M,USD,1.940000e+07,None
4548,NextLabs,enterprise,100,"[{'description': 'Corporate Headquarters', 'ad...",0,USD,0.000000e+00,None
4549,Getyoo,mobile,10,"[{'description': 'HQ', 'address1': 'Rue des Ta...",1.13M,EUR,1.130000e+06,None
4550,OfficialVirtualDJ,music,102,"[{'description': 'Created in London', 'address...",25M,EUR,2.500000e+07,None
4551,Eazeeloans,web,25,"[{'description': 'Apex Finance & Marketing', '...",0,USD,0.000000e+00,None
4552,Willdan Group,other,385,"[{'description': '', 'address1': '2401 East Ka...",0,USD,0.000000e+00,None
4553,QSGI,software,164,"[{'description': '', 'address1': '400 Royal Pa...",0,USD,0.000000e+00,None

In [17]:
#Inspect info provided inside 'offices' column
c = pd.DataFrame(json_normalize(data['offices'][4]))
c

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code
0,1601 Willow Road,,Menlo Park,USA,Headquarters,37.416050,-122.151801,CA,94025
1,,,Dublin,IRL,Europe HQ,53.344104,-6.267494,None,
2,340 Madison Ave,,New York,USA,New York,40.755716,-73.979247,NY,10017

In [18]:
#There are some companies which have >1 offices. Separate them into different rows. 
data2 = data.copy()
office_split = pd.DataFrame(data2['offices'].tolist()).stack().reset_index(level=1, drop=True).rename('office')
office_merged = data2.merge(office_split, left_index=True, right_index=True).reset_index()

In [19]:
#Checking the values are correct and belong to each company
d = pd.DataFrame(json_normalize(office_merged['offices'][5]))
d

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code
0,1601 Willow Road,,Menlo Park,USA,Headquarters,37.416050,-122.151801,CA,94025
1,,,Dublin,IRL,Europe HQ,53.344104,-6.267494,None,
2,340 Madison Ave,,New York,USA,New York,40.755716,-73.979247,NY,10017

In [25]:
print(len(data))
print(len(office_merged))

4406
5856

In [26]:
offices_number = office_merged['name'].groupby(office_merged['name'], sort=False).count()

In [27]:
office_merged.head(9)

,index,name,category_code,number_of_employees,offices,total_money_raised,currency,amount_raised,office
0,0,Wetpaint,web,47,"[{'description': '', 'address1': '710 - 2nd Av...",39.8M,USD,3.980000e+07,"{'description': '', 'address1': '710 - 2nd Ave..."
1,0,Wetpaint,web,47,"[{'description': '', 'address1': '710 - 2nd Av...",39.8M,USD,3.980000e+07,"{'description': '', 'address1': '270 Lafayette..."
2,1,AdventNet,enterprise,600,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00,"{'description': 'Headquarters', 'address1': '4..."
3,2,Zoho,software,1600,"[{'description': 'Headquarters', 'address1': '...",0,USD,0.000000e+00,"{'description': 'Headquarters', 'address1': '4..."
4,3,Digg,news,60,"[{'description': None, 'address1': '135 Missis...",45M,USD,4.500000e+07,"{'description': None, 'address1': '135 Mississ..."
5,4,Facebook,social,5299,"[{'description': 'Headquarters', 'address1': '...",2.43B,USD,2.430000e+09,"{'description': 'Headquarters', 'address1': '1..."
6,4,Facebook,social,5299,"[{'description': 'Headquarters', 'address1': '...",2.43B,USD,2.430000e+09,"{'description': 'Europe HQ', 'address1': '', '..."
7,4,Facebook,social,5299,"[{'description': 'Headquarters', 'address1': '...",2.43B,USD,2.430000e+09,"{'description': 'New York', 'address1': '340 M..."
8,5,Geni,web,18,"[{'description': 'Headquarters', 'address1': '...",16.5M,USD,1.650000e+07,"{'description': 'Headquarters', 'address1': '9..."

In [ ]:
#select the relevant columns
df = office_merged[[x for x in office_merged.columns if x !='deadpooled' and x != 'offices' and x != 'founded_year']]
df.head()

In [ ]:
#Convert money raised into integer values + standarize to $

In [ ]:
#Function to convert the info within offices into columns.
def latlong(data):
    data = data['offices']
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:                   #Check there is data
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "totalOffices": len(data),
        "lat": data[0]['latitude'],
        "lng": data[0]['longitude'],
        "main_office (geoquery)": principal
    }

data_latlong = data[["offices"]].apply(latlong, result_type="expand", axis=1).dropna()

In [ ]:
#Concatenate all data
data = pd.concat([data, data_latlong], axis = 1)

In [ ]:
data = data[[x for x in data.columns if x !='deadpooled' and x != 'offices']]

In [ ]:
data.head()

In [ ]:
a = json_normalize(data['main_office (geoquery)'][0])
a

In [ ]:
data.dtypes

In [ ]:
data.fillna(0).head()

In [ ]:
data['founded_year'].astype(int)

In [ ]:
def fixints(col):
    data[col].fillna(0, inplace = True)
    data[col] = data[col].astype(int)
    return data[col]

data = fixints ('founded_year')

In [ ]:
# data_cols = data_companies_1office[['alias_list', 'category_code','description', 'total_money_raised','founded_year','offices', 'deadpooled_year', 'deadpooled_day', 'deadpooled_month',
#        'deadpooled_url' ]]

In [ ]:
def latlong(data):
    data = data['offices']
#    return (len(data),data[0]['latitude'],data[0]['longitude'])

    # Only create the geoJSON object if all geodata is available
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "totalOffices": len(data),
        "lat": data[0]['latitude'],
        "lng": data[0]['longitude'],
        "main_office": principal
    }


data_latlong = data_cols[["offices"]].apply(latlong, result_type="expand", axis=1)

In [ ]:
data_latlong.dropna(inplace = True)

In [ ]:
display(data_latlong.head())

In [ ]:
# def latlong(df):
#     df = df['offices']
#     for l in df:
#         if l['latitude'] and l['longitude']:
#             return {
#                     "lat": l['latitude'],
#                     "long": l['longitude']
                    
#                 }

# first_office = data_cols[['offices']].apply(latlong, result_type = "expand", axis=1)
# display(first_office.head())

In [ ]:
data_office = pd.concat([data_cols, data_latlong],axis=1)
display(data_office.head())
data_office.shape

In [ ]:
data_office.dropna(subset=['lat','lng'], inplace = True)
data_office.shape

In [ ]:
# data_companies = data_latlong[['alias_list', 'category_code', 'description', 'total_money_raised', 'founded_year', 'deadpooled_year', 'deadpooled_day', 'deadpooled_month',
#        'deadpooled_url', 'lat', 'long']]
# data_companies.shape

In [ ]:
#drop notnull values in deadpool = if it has a value it means the startup is dead.
data2 = data_office[pd.isnull(data_office['deadpooled_year'])]
data3 = data2[pd.isnull(data_office['deadpooled_day'])]
data4 = data3[pd.isnull(data_office['deadpooled_month'])]
data_deads = data4[pd.isnull(data_office['deadpooled_url'])]


data2.shape

In [ ]:
display(data_deads.head())

In [ ]:
data_companies_clean = data_deads[['alias_list', 'category_code', 'description', 'total_money_raised', 'founded_year', 'main_office', 'lat','lng']]
display(data_companies_clean.head())
data_companies_clean.shape

In [ ]:
data_year = data_companies_clean[data_companies_clean['founded_year']>2006]
data_year.shape

In [ ]:
data_web = data_year[data_year['category_code'] == 'web']
data_web.shape

In [ ]:
data_final = data_web[data_web['total_money_raised'] != '$0']
data_final.shape

In [ ]:
#The idea is to develop elaborated backend products to be sold to other web startup. other startups. Because of that, I only select young startups
#which have been funded and are not big enough to develop these products by their own.

In [ ]:
display(data_final.head())

In [ ]:
data_final['main_office'][0]

In [ ]:
data_final.to_json('/Users/alejandroiborralucas/Desktop/Git-iron/Project crunchbase/visualizing-real-world-data-project/oficinas.json', orient="records")

In [ ]:
# def splitMoney(df): 
#     x = re.findall('([^\d+])', df)
#     return x
# data_companies_clean['Currency type'] = data_companies_clean['total_money_raised'].apply(splitMoney)

# #display(data_companies_clean['Currency type'].head())
# display(data_companies_clean.head())

In [ ]:
# data_companies_clean['Currency type'].value_counts()

In [ ]:
# values=[]
# a = ['$', '€', '£', 'C', 'k']
# for i in data_companies_clean['Currency type']:
#     if i[0] not in values:
#         values.append(i[0])
# print(values)

In [ ]:
# #VOY POR AQUI. MONTAR FUNCION USANDO REGEX QUE BUSQUE M Y MULTIPLIQUE POR 1X10^6, ETC. + API PARA TIPOS DE CAMBIO

# def valueMultiplier(df):
#     x = re.findall('(\d+)', df)
    
#     return x

# data_companies_clean['Value Gross'] = data_companies_clean['total_money_raised'].apply(valueMultiplier)

In [ ]:
#def findCurrency (m):
#    currency_dict = {
#        '$': 1
#        '€': 1.12
#        '£': 1.25
#        'C$': 0.76
#        'kr': 0.11
#    }
#for currency, value in findMonth.items():
#    if currency in m:
#        return int(value)
#    return 0 
#data_companies_clean['Currency type'] = data_companies_clean['total_money_raised'].apply(findCurrency)

In [ ]:
# data_companies_clean['a'] = [data_companies_clean['total_money_raised'].str.split('$', expand=True)]

# display(data_companies_clean.head())

In [ ]:
# def classifyCurrencies(df):
#     money_type = []
    
#     for i in splitCurrencies(df):
#         if i in currencies:
#             money_type.append(i)
#     return money_type

In [ ]:
# #tipos de monedas en el dataset
# currencies_types=[]
# for i in data_companies_clean['total_money_raised']:
#     if i[0:2] not in currencies_types:
#         currencies_types.append(i[0:2])

# print(currencies_types)

In [ ]:
# currency=[]
# for i in data_companies_clean['total_money_raised']:
#     currency.append(i[0:2])

In [ ]:
# currency_type = pd.DataFrame({'Currency':currency})
# display(currency_type.head())

In [ ]:
# def splitCurrencies(df):
#     split = df.str.split('')
#     return split

In [ ]:
# def classifyCurrencies(df):
#     money_type = []
#     for i in splitCurrencies(df):
#         if i in currencies:
#             money_type.append(i)
#     return money_type

# classifyCurrencies(data_companies_clean[['total_money_raised']])

In [ ]:
# data_companies_clean['currency']= data_companies_clean[['total_money_raised']].apply(splitCurrencies, result_type = 'expand', axis=1)

In [ ]:
# display(data_companies_clean.head())