In [17]:
from pymongo import MongoClient
import pandas as pd
import pymongo
import re

In [18]:
client = MongoClient('mongodb://localhost:27017/')
db = client.companies
data = db.companies.find()
data_companies = pd.DataFrame(data)

In [19]:
data_companies.shape

(18801, 42)

In [20]:
data_companies.isna().sum().head()

_id                  0
acquisition      16124
acquisitions         0
alias_list        9869
blog_feed_url     2044
dtype: int64

In [21]:
at_least_1_office = db.companies.find({
    "offices":{
        "$not":{
            "$size":0
        }
    }
})

In [22]:
data_companies_1office = pd.DataFrame(at_least_1_office)

In [23]:
data_companies_1office.shape

(13744, 42)

In [24]:
data_companies_1office.head()

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,...,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,...,925-924-9500,[],"[{'title': 'DHFH', 'is_past': True, 'provider'...","[{'is_past': True, 'title': 'CEO and Co-Founde...","[{'available_sizes': [[[150, 94], 'assets/imag...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]
1,52cdef7c4bab8bd675297d8c,None,[],,http://blogs.zoho.com/feed,http://blogs.zoho.com/,software,"[{'competitor': {'name': 'Empressr', 'permalin...",Fri May 25 19:30:28 UTC 2007,http://www.crunchbase.com/company/zoho,...,1-888-204-3539,"[{'name': 'Zoho Office Suite', 'permalink': 'z...",[],"[{'is_past': False, 'title': 'CEO and Founder'...",[],"zoho, officesuite, spreadsheet, writer, projec...",$0,zoho,Wed Oct 30 00:07:05 UTC 2013,"[{'embed_code': '<object width=""430"" height=""2..."
2,52cdef7c4bab8bd675297d8a,"{'price_amount': 30000000, 'price_currency_cod...",[],,http://digitalquarters.net/feed/,http://digitalquarters.net/,web,"[{'competitor': {'name': 'Wikia', 'permalink':...",2007-05-25 06:51:27,http://www.crunchbase.com/company/wetpaint,...,206.859.6300,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...",[],"[{'is_past': False, 'title': 'Co-Founder and V...","[{'available_sizes': [[[150, 86], 'assets/imag...","wiki, seattle, elowitz, media-industry, media-...",$39.8M,BachelrWetpaint,Sun Dec 08 07:15:44 UTC 2013,[]
3,52cdef7c4bab8bd675297d8f,None,[],None,http://feeds.feedburner.com/omnidrive,http://www.omnidrive.com/blog,network_hosting,"[{'competitor': {'name': 'Dropbox', 'permalink...",Sun May 27 03:25:32 UTC 2007,http://www.crunchbase.com/company/omnidrive,...,660-675-5052,"[{'name': 'Omnidrive', 'permalink': 'omnidrive'}]",[],"[{'is_past': True, 'title': 'Co-founder', 'per...",[],"storage, sharing, edit, online",$800k,Nomadesk,Tue Jul 02 22:48:04 UTC 2013,[]
4,52cdef7c4bab8bd675297d90,"{'price_amount': 625000000, 'price_currency_co...",[],None,,,web,"[{'competitor': {'name': 'RescueTime', 'permal...",Fri Jun 08 12:19:51 UTC 2007,http://www.crunchbase.com/company/postini,...,888.584.3150,"[{'name': 'Postini Solutions', 'permalink': 'p...",[],"[{'is_past': False, 'title': 'Board', 'person'...",[],,$0,None,Sat Aug 13 18:02:34 UTC 2011,[]

In [25]:
data_companies_1office.columns

Index(['_id', 'acquisition', 'acquisitions', 'alias_list', 'blog_feed_url',
       'blog_url', 'category_code', 'competitions', 'created_at',
       'crunchbase_url', 'deadpooled_day', 'deadpooled_month',
       'deadpooled_url', 'deadpooled_year', 'description', 'email_address',
       'external_links', 'founded_day', 'founded_month', 'founded_year',
       'funding_rounds', 'homepage_url', 'image', 'investments', 'ipo',
       'milestones', 'name', 'number_of_employees', 'offices', 'overview',
       'partners', 'permalink', 'phone_number', 'products', 'providerships',
       'relationships', 'screenshots', 'tag_list', 'total_money_raised',
       'twitter_username', 'updated_at', 'video_embeds'],
      dtype='object')

In [26]:
def fixints(df, col):
    df[col].fillna(0, inplace = True)
    df[col] = df[col].astype(int)
    return df[col]
fixints (data_companies_1office, 'founded_year')

0        1996
1        2005
2        2005
3        2005
4        1999
5        2004
6        2006
7           0
8        1979
9        2003
10       2007
11       2006
12       2002
13       2005
14          0
15       2006
16       2006
17       2004
18       1986
19       2007
20       1971
21       2002
22       2007
23       1995
24       1984
25       2006
26       2002
27          0
28       2007
29       2007
         ...
13714    1998
13715    2009
13716    2004
13717    2011
13718       0
13719    2008
13720       0
13721       0
13722    2009
13723    2004
13724    2009
13725    2001
13726    2006
13727    1996
13728       0
13729    2009
13730    2006
13731    2009
13732    2012
13733    2004
13734    2003
13735    2000
13736       0
13737    1974
13738    1967
13739    2002
13740    2009
13741    2009
13742       0
13743    2000
Name: founded_year, Length: 13744, dtype: int64

In [27]:
data_cols = data_companies_1office[['alias_list', 'category_code','description', 'total_money_raised','founded_year','offices', 'deadpooled_year', 'deadpooled_day', 'deadpooled_month',
       'deadpooled_url' ]]

In [28]:
def latlong(data):
    data = data['offices']
#    return (len(data),data[0]['latitude'],data[0]['longitude'])

    # Only create the geoJSON object if all geodata is available
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "totalOffices": len(data),
        "lat": data[0]['latitude'],
        "lng": data[0]['longitude'],
        "oficina_principal": principal
    }


data_latlong = data_cols[["offices"]].apply(latlong, result_type="expand", axis=1)

In [29]:
# display(data_latlong.head())

In [30]:
# def latlong(df):
#     df = df['offices']
#     for l in df:
#         if l['latitude'] and l['longitude']:
#             return {
#                     "lat": l['latitude'],
#                     "long": l['longitude']
                    
#                 }

# first_office = data_cols[['offices']].apply(latlong, result_type = "expand", axis=1)
# display(first_office.head())

In [31]:
data_office = pd.concat([data_cols, data_latlong],axis=1)
display(data_office.head())
data_office.shape

,alias_list,category_code,description,total_money_raised,founded_year,offices,deadpooled_year,deadpooled_day,deadpooled_month,deadpooled_url,lat,lng,oficina_principal,totalOffices
0,Zoho ManageEngine,enterprise,Server Management Software,$0,1996,"[{'description': 'Headquarters', 'address1': '...",2.0,NaN,NaN,NaN,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
1,,software,Online Business Apps Suite,$0,2005,"[{'description': 'Headquarters', 'address1': '...",3.0,NaN,NaN,NaN,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
2,,web,Technology Platform Company,$39.8M,2005,"[{'description': '', 'address1': '710 - 2nd Av...",1.0,NaN,NaN,NaN,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,...",2.0
3,None,network_hosting,None,$800k,2005,"[{'description': '', 'address1': 'Suite 200', ...",2008.0,15.0,9.0,,NaN,NaN,NaN,1.0
4,None,web,None,$0,1999,"[{'description': None, 'address1': '959 Skyway...",NaN,NaN,NaN,None,37.506885,-122.247573,"{'type': 'Point', 'coordinates': [-122.247573,...",1.0

(13744, 14)

In [32]:
data_office.dropna(subset=['lat','lng'], inplace = True)
data_office.shape

(9618, 14)

In [33]:
# data_companies = data_latlong[['alias_list', 'category_code', 'description', 'total_money_raised', 'founded_year', 'deadpooled_year', 'deadpooled_day', 'deadpooled_month',
#        'deadpooled_url', 'lat', 'long']]
# data_companies.shape

In [34]:
#drop notnull values in deadpool = if it has a value it means the startup is dead.
data2 = data_office[pd.isnull(data_office['deadpooled_year'])]
data3 = data2[pd.isnull(data_office['deadpooled_day'])]
data4 = data3[pd.isnull(data_office['deadpooled_month'])]
data_deads = data4[pd.isnull(data_office['deadpooled_url'])]


data2.shape

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

(8983, 14)

In [35]:
display(data_deads.head())

,alias_list,category_code,description,total_money_raised,founded_year,offices,deadpooled_year,deadpooled_day,deadpooled_month,deadpooled_url,lat,lng,oficina_principal,totalOffices
4,None,web,None,$0,1999,"[{'description': None, 'address1': '959 Skyway...",NaN,NaN,NaN,None,37.506885,-122.247573,"{'type': 'Point', 'coordinates': [-122.247573,...",1.0
5,,news,user driven social content website,$45M,2004,"[{'description': None, 'address1': '135 Missis...",NaN,NaN,NaN,None,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,...",1.0
6,,web,Geneology social network site,$16.5M,2006,"[{'description': 'Headquarters', 'address1': '...",NaN,NaN,NaN,None,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,...",1.0
7,None,games_video,None,$0,0,"[{'description': None, 'address1': '8536 Natio...",NaN,NaN,NaN,None,34.025958,-118.379768,"{'type': 'Point', 'coordinates': [-118.379768,...",1.0
9,,web,Photo animation,$18.1M,2003,"[{'description': None, 'address1': None, 'addr...",NaN,NaN,NaN,None,37.484130,-122.169472,"{'type': 'Point', 'coordinates': [-122.169472,...",1.0

In [36]:
data_companies_clean = data_deads[['alias_list', 'category_code', 'description', 'total_money_raised', 'founded_year', 'offices', 'lat', 'lng']]
display(data_companies_clean.head())
data_companies_clean.shape

,alias_list,category_code,description,total_money_raised,founded_year,offices,lat,lng
4,None,web,None,$0,1999,"[{'description': None, 'address1': '959 Skyway...",37.506885,-122.247573
5,,news,user driven social content website,$45M,2004,"[{'description': None, 'address1': '135 Missis...",37.764726,-122.394523
6,,web,Geneology social network site,$16.5M,2006,"[{'description': 'Headquarters', 'address1': '...",34.090368,-118.393064
7,None,games_video,None,$0,0,"[{'description': None, 'address1': '8536 Natio...",34.025958,-118.379768
9,,web,Photo animation,$18.1M,2003,"[{'description': None, 'address1': None, 'addr...",37.484130,-122.169472

(8859, 8)

In [37]:
data_year = data_companies_clean[data_companies_clean['founded_year']>2006]
data_year.shape

(2917, 8)

In [38]:
data_web = data_year[data_year['category_code'] == 'web']
data_web.shape

(813, 8)

In [39]:
data_final = data_web[data_web['total_money_raised'] != '$0']
data_final.shape

(154, 8)

In [40]:
#The idea is to develop elaborated backend products to be sold to other web startup. other startups. Because of that, I only select young startups
#which have been funded and are not big enough to develop these products by their own.

In [41]:
data_final.to_json('/Users/alejandroiborralucas/Desktop/Git-iron/Project crunchbase/visualizing-real-world-data-project/oficinas.json', orient="records")

In [19]:
# def splitMoney(df): 
#     x = re.findall('([^\d+])', df)
#     return x
# data_companies_clean['Currency type'] = data_companies_clean['total_money_raised'].apply(splitMoney)

# #display(data_companies_clean['Currency type'].head())
# display(data_companies_clean.head())

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,alias_list,category_code,description,total_money_raised,founded_year,lat,lng,Currency type
4,None,web,None,$0,1999,37.506885,-122.247573,[$]
5,,news,user driven social content website,$45M,2004,37.764726,-122.394523,"[$, M]"
6,,web,Geneology social network site,$16.5M,2006,34.090368,-118.393064,"[$, ., M]"
7,None,games_video,None,$0,0,34.025958,-118.379768,[$]
9,,web,Photo animation,$18.1M,2003,37.484130,-122.169472,"[$, ., M]"

In [20]:
# data_companies_clean['Currency type'].value_counts()

[$]             5927
[$, ., M]       1421
[$, M]           991
[$, k]           328
[â‚¬, k]            50
[â‚¬, ., M]         44
[â‚¬, M]            36
[Â£, ., M]         16
[Â£, k]            14
[Â£, M]            10
[C, $, ., M]       6
[$, ., B]          5
[C, $, k]          4
[C, $, M]          4
[$, B]             1
[$, ., k]          1
[k, r, M]          1
Name: Currency type, dtype: int64

In [21]:
# values=[]
# a = ['$', 'â‚¬', 'Â£', 'C', 'k']
# for i in data_companies_clean['Currency type']:
#     if i[0] not in values:
#         values.append(i[0])
# print(values)

['$', 'â‚¬', 'Â£', 'C', 'k']

In [37]:
# #VOY POR AQUI. MONTAR FUNCION USANDO REGEX QUE BUSQUE M Y MULTIPLIQUE POR 1X10^6, ETC. + API PARA TIPOS DE CAMBIO

# def valueMultiplier(df):
#     x = re.findall('(\d+)', df)
    
#     return x

# data_companies_clean['Value Gross'] = data_companies_clean['total_money_raised'].apply(valueMultiplier)

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
#def findCurrency (m):
#    currency_dict = {
#        '$': 1
#        'â‚¬': 1.12
#        'Â£': 1.25
#        'C$': 0.76
#        'kr': 0.11
#    }
#for currency, value in findMonth.items():
#    if currency in m:
#        return int(value)
#    return 0 
#data_companies_clean['Currency type'] = data_companies_clean['total_money_raised'].apply(findCurrency)

In [69]:
# data_companies_clean['a'] = [data_companies_clean['total_money_raised'].str.split('$', expand=True)]

# display(data_companies_clean.head())

In [ ]:
# def classifyCurrencies(df):
#     money_type = []
    
#     for i in splitCurrencies(df):
#         if i in currencies:
#             money_type.append(i)
#     return money_type

In [28]:
# #tipos de monedas en el dataset
# currencies_types=[]
# for i in data_companies_clean['total_money_raised']:
#     if i[0:2] not in currencies_types:
#         currencies_types.append(i[0:2])

# print(currencies_types)

['$0', '$4', '$1', '$2', '$7', '$5', '$6', '$3', '$8', '$9', 'â‚¬1', 'Â£3', 'â‚¬3', 'â‚¬5', 'â‚¬4', 'Â£2', 'C$', 'â‚¬8', 'â‚¬2', 'â‚¬9', 'Â£1', 'Â£4', 'â‚¬6', 'â‚¬7', 'Â£5', 'Â£7', 'kr', 'Â£9', 'Â£6', 'Â£8']

In [49]:
# currency=[]
# for i in data_companies_clean['total_money_raised']:
#     currency.append(i[0:2])

In [48]:
# currency_type = pd.DataFrame({'Currency':currency})
# display(currency_type.head())

  Currency
0       $0
1       $4
2       $1
3       $0
4       $0

In [30]:
# def splitCurrencies(df):
#     split = df.str.split('')
#     return split

In [31]:
# def classifyCurrencies(df):
#     money_type = []
#     for i in splitCurrencies(df):
#         if i in currencies:
#             money_type.append(i)
#     return money_type

# classifyCurrencies(data_companies_clean[['total_money_raised']])

AttributeError: 'DataFrame' object has no attribute 'str'

In [32]:
# data_companies_clean['currency']= data_companies_clean[['total_money_raised']].apply(splitCurrencies, result_type = 'expand', axis=1)

/usr/local/Cellar/ipython/7.3.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
# display(data_companies_clean.head())

,alias_list,category_code,description,total_money_raised,founded_year,lat,long,currency
4,None,web,None,$0,1999,37.506885,-122.247573,"[, $, 0, ]"
5,,news,user driven social content website,$45M,2004,37.764726,-122.394523,"[, $, 4, 5, M, ]"
6,,web,Geneology social network site,$16.5M,2006,34.090368,-118.393064,"[, $, 1, 6, ., 5, M, ]"
7,None,games_video,None,$0,0,34.025958,-118.379768,"[, $, 0, ]"
8,None,web,,$0,1979,34.076179,-118.394170,"[, $, 0, ]"

[]